[Unit]
Description=Periodically check for Home Automation Desktop updates

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
