<h1>Hello, world!</h1>
<p>This application is designed to display battery and inverter settings information for a home solar system, using the
  SOLAX API. </p>

<img src="../../assets/images/High-level architecture.png" alt="High level architecture"/>

<hr/>

<h3>Technologies:</h3>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core 7</a> and <a
    href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C# 11</a> for cross-platform server-side code
  </li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
    client-side code
  </li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<h3>External APIs:</h3>
<ul>
  <li>SOLAX API - both cloud and local</li>
  <li>Met Office API</li>
</ul>
